* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    background-color: #E5E5E5;
    font-family: "Nirmala UI";
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

header {
    background-color: black;
    height:71px;
    max-width: 1380px;
    width: 100%;
}

.header-container {
    max-width: 1380px;
    height: 71px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header-logo a {
    color:white;
    float: left;
    margin-top:-20px;
    width: 350px;
}

.header-logo img {
    color:white;
    float: left;
    margin-top:20px;
    width: 70px;
    height: 70px;
    margin-left:108px ;
    font-family: "Source Serif Pro";
}

.header-logo h1 {
    color: white;
    padding: 13px 0;
    margin: 0;
    font-family: "Source Serif Pro";
    margin-top:24px;
}

.header-menu {
    margin-top: 4px;
    margin-left:-400px;
    margin-right: 160px;
}

.header-menu ul {
    display: flex;
    align-content: center;
}

.header-menu a {
    color: white;
    margin: 0 20px;
    padding: 5px 0;
    transition: 0.7s all;
}

.header-menu a:hover {
    background-color: #A89191;
}

.header-menu .apply {
    color: black;
    background-color: #C4C4C4;
    padding: 7px 5px;
    border-radius: 15px;
    margin: 0 15px;
}

.active {
    background-color: #A89191;
}

/*Galery Contents*/

.galery-contents {
    padding-top: 80px;
}

.galery-container {
    max-width: 1380px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    align-content: center;
}

.galery-title {
    margin-top: 30px;
    padding-left: 35px;
}

.galery-title h1 {
    display: inline;
}

.galery-content {
    margin-bottom: 150px;
}

.galery-content ul {
    display: flex;
    flex-wrap: wrap;
}

.galery-content li {
    margin: 15px 50px 35px 0;
}

.galery-content img {
    width: 373px;
    height: 239px;
}

/*Footer*/
footer {
    background-color: black;
    height: 71px;
}

.footer-container {
    max-width: 1380px;
    height: 71px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer-left a {
    display: flex;
}

.footer-left img {
    margin-top: 8px;
    height: 50px;
}

.footer-left p {
    margin-left: 10px;
    color: white;
    font-size: 20px;
}

footer img {
    width: 50px;
}

.footer-right {
    margin-top: 8px;
}

.footer-right a {
    margin: 0 25px;
}
